html, body {
	font-size: 16px;
	background-color: #9ec0be;
	font-family: Arial;
}

a, a:hover {
	color: #fff;
	text-decoration: none;
	font-weight: 500;
}

.times {
		font-family: 'Times New Roman';
		font-size: 32px;
		margin: 0px 0px 0px 2px;
}

.sephira .times {
	font-family: 'Times New Roman';
	font-size: 29px;
	line-height: .1;
}

/* Structure  ================= */

#wrapper {
	position: absolute;
	width: 480px;
	height: 780px;
	margin: auto;
	margin-left: 120px;
	padding: 0px;
	display: block;
	left: 110px;
	overflow: hidden;
}

.pillar {
	width: 85px;
	float: left;
	display: block;
	margin: 20px;
	height: 750px;
	position: relative;
}

/* Navigation  ================= */

nav {
	float: left;
	height:775px;
	width: 100px;
	background-color: #64ada8;
	font-size: 0.8em;
	text-align:center;
	font-weight: 500;
	color: #fff;
	overflow-y: scroll;
	padding: 0px;
	margin: 0px;
}

nav ul {
	padding: 2px;
	list-style-type: none;
}

nav ul li {
	padding-bottom: 5px;
}

nav h3 {
	margin-bottom: 0px;
	text-decoration: underline;
}

/* Sephiroth  ================= */

.sephira  {
	width: 80px;
	height: 80px;
	border: solid 3px black;
	background-color: #fff;
	display: block;
	margin: 0;
	border-radius: 100%;
	text-align: center;
	z-index: 20;
	position: absolute;
}

#kether {
}

#chokmah {
	top: 75px;
}

#binah {
	top: 75px;
}

#daath {
	background-color: rgba(255,255,255,0.5);
	color: rgba(0,0,0,0.5);
	top: 165px;
}

#chesed {
	top: 240px;
}

#geburah {
	top: 240px;
}

#tiphareth {
	top: 320px;
}

#netzach {
	top: 400px;
}

#hod {
	top: 400px;
}

#yesod {	
	bottom:170px;
}

#malkuth {
	margin-bottom: 0;
	bottom: 0px;
}

/* Paths Content  ================= */

.path {	
	background-color: #fff;
	border:solid black 3px;	
	position: absolute;
	z-index: 10;
	width: 20px;
}

.path .kircher_hebrew {
	font-family: 'times new roman';
}

.path .path_numbering {
	font-size: 10px;
	line-height: 3;
}

.path p {
	font-size: 25px;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 1;
}

#path_11 p {
	transform: rotate(55deg);
	margin-top: 75px;
}

#path_12 p {
	transform: rotate(-55deg);
	margin-top: 75px;
}

#path_13 p {
	margin-top: 70px;
}

#path_14 p{
	transform: rotate(-90deg);
	margin-top: 85px;
}

#path_15 p{
	transform: rotate(-25deg);
	margin-left: -2px;
	margin-top: 75px;	
}

#path_16 p{
	margin-top: 45px;
}

#path_17 p{
	transform: rotate(25deg);
	margin-left: 2px;
	margin-top: 75px;
}

#path_18 p{
	margin-top: 45px;
}

#path_19 p{
	transform: rotate(-90deg);
	margin-top: 80px;
}

#path_20 p{
	transform: rotate(-50deg);
	margin-top: 35px;
}

#path_21 p{
	transform: rotate(-125deg);
	margin-top: 50px;
}

#path_22 p{
	margin-top: 45px;
}

#path_23 p{
	margin-top: 45px;
}

#path_24 p{
	transform: rotate(55deg);
	margin-top: 35px;
}

#path_25 p{
	margin-top: 5px;
}

#path_26 p{
	transform: rotate(-55deg);
	margin-top: 35px;
}

#path_27 p{
	transform: rotate(-90deg);
	margin-top: 80px;
}

#path_28 p {
	transform: rotate(-55deg);
	margin-top: 35px;
}

#path_29 p{
	transform: rotate(-23deg);
	margin-top: 110px;
}

#path_30 p {
	transform: rotate(55deg);
    margin-top: 25px;
}

#path_31 p{
	transform: rotate(23deg);
	margin-top: 110px;
}

#path_32 p {
	margin-top: 45px;
}

/* Paths Content  ================= */

#path_11 {
	height: 150px;
	transform: rotate(-55deg);
	top: -10px;
	left: -35px;
	position: absolute;
}

#path_12 {
	height: 150px;
	top: -10px;
	left: 100px;
	transform: rotate(55deg);
}

#path_13 {
	height: 290px;
	top: 60px;
	left: 30px;
	z-index: 0;
}

#path_14 {
	height: 200px;
	transform: rotate(90deg);
	top: 15px;
	left: 30px;
}

#path_15 {
	height: 220px;
	transform: rotate(25deg);
	top: 120px;
	left: 95px;
}

#path_16 {
	height: 105px;
	top: 145px;
	left: 30px;
}

#path_17 {	
	height: 220px;
	transform: rotate(-25deg);
	top: 120px;
	left: -35px;
}

#path_18 {
	height: 105px;
	top: 145px;
	left: 30px;
}

#path_19 {
	height: 190px;
	transform: rotate(90deg);
	top: 185px;
	left: 30px;
}

#path_20 {
	height: 100px;
	transform: rotate(55deg);
	top: 275px;
	left: -30px;
}

#path_21 {
	height: 105px;
	transform: rotate(125deg);
	top: 280px;
	left: 100px;
}

#path_22 {
    height: 105px;
    top: 310px;
    left: 30px;	
}

#path_23 {
	height: 105px;
	top: 310px;
	left: 30px;
}

#path_24 {
	height: 105px;
	transform: rotate(-55deg);
	top: 345px;
	left: -30px;
}

#path_25 {
	height: 105px;
	top: 400px;
	left: 30px;
}

#path_26 {
	height: 105px;
	transform: rotate(55deg);
	top: 345px;
	left: 90px;
}

#path_27 {
	height: 190px;
	transform: rotate(90deg);
	top: 347px;
	left: 30px;
}

#path_28 {
	height: 105px;
	transform: rotate(55deg);
	bottom: 195px;
	left: -40px;
}

#path_29 {
	height: 250px;
	transform: rotate(23deg);
	bottom: 30px;
	left: -20px;
}

#path_30 {	
	height: 105px;
	transform: rotate(-55deg);
	bottom: 195px;
	left: 100px;
}

#path_31 {
	height: 250px;
	transform: rotate(-23deg);
	bottom: 30px;
	left: 80px;
}

#path_32 {
	height: 115px;
	bottom: 70px;
	left: 30px;
}

#path_abbyss {
	height: 240px;
	transform: rotate(-56deg);
	top: 75px;
	left: 29px;
}

/* Layers ================= */

.insence, .tarot, .gd_color, .triads_sephira, .triads, .path_numbering, .kircher_hebrew, .man, .pillars_bj , .polarity, .plane, .hebrew, .planets, .english, .flash, .number  {
	display: none;
}

/* Layers - Sephira  ================= */
.gd_color {
	z-index: 21;
	width: 80px;
	height: 80px;
	border: solid 3px black;
	margin: 0;
	border-radius: 100%;
	text-align: center;
	position: absolute;
}

#kether.gd_color{
	background-color: rgba(255,255,255,0.5);
}

#chokmah.gd_color{
	background-color: rgba(66,66,66,0.5);
}

#binah.gd_color{
	background-color: rgba(5, 5, 5, 0.75);
}

#daath.gd_color{
	background-color: rgba(0,0,0,0.5);
}

#chesed.gd_color{
	background-color: rgba(0,0,255,0.5);
}

#geburah.gd_color{
	background-color: rgba(255,0,0,0.5);
}

#tiphareth.gd_color{
	background-color: rgba(255,225,0,0.5);
}

#netzach.gd_color{
	background-color: rgba(0,225,0,0.5);
}

#hod.gd_color{
	background-color: rgba(255, 126, 0, 0.51);
}

#yesod.gd_color{
	background-color: rgba(168, 0, 255, 0.5);	
}

#malkuth.gd_color{
	background-image: url('img/malkuth.gif');
	transform: rotate(-135deg);
	opacity: 0.6;
}

/* Layers - Planes  ================= */

#planes {	
	position: absolute;
	width: auto;
	z-index:1;
	float:right;
}

.plane p {
	margin: 0px -12px 0px 0px;
	position: absolute;
	right: 1px;
	margin: -100px 0px 0px 0px;
	font-size: 24px;
}

#atziluth{
	top: 225px;
	color: red;
}

#briah {	
	top: 430px;
	color: blue;
}

#yetzirah{
	top: 595px;
	color: yellow;
}

#assiah {
	top: 700px;
	height: 400px;
	border-bottom: none;
	color: green;
}

#assiah p {
	margin-top: -20px;
}

#briah p {
    margin-top: -120px;
}

/* Layers - general ================= */
.man {
	position: absolute;
	width: auto;
	height: 890px;
	left: -257px;
	top: 100px;
	opacity: 0.5;
	z-index: 5;
}

.plane {
	border-bottom: 3px dashed grey;
	position: absolute;
	width:480px;
}

/* Layers - paths ================= */

.tarot {
	width: 30px;
	height: auto;
	z-index: 25;
	position: absolute;
}

#pillar_severity  img.tarot {
	margin-left: -15px;
	margin-top: -15px;
}

#pillar_mildness  img.tarot {
	margin-left: -15px;
	margin-top: -15px;
}

.tarot:hover {
	width: 50px;
	height: auto;	
}

.flash {	
	background-color: rgba(255,255,0,0.5);
	border:solid rgba(0,0,0,0) 3px;	
	position: absolute;
	z-index: 15;
	width: 20px;
}

.path_numbering {
	font-size: 12px;
}

.triads {
	-webkit-box-shadow: 0px 0px 5px 2px rgba(255,234,97,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(255,234,97,1);
	box-shadow: 0px 0px 5px 2px rgba(255,234,97,1);
	z-index: 15;
	background: none;
	width: 20px;
	position: absolute;
	border:solid rgba(0,0,0,0) 3px;	
}

.triads_sephira {
	-webkit-box-shadow: 0px 0px 5px 2px rgba(255,234,97,1);
	-moz-box-shadow: 0px 0px 5px 2px rgba(255,234,97,1);
	box-shadow: 0px 0px 5px 2px rgba(255,234,97,1);
	width: 80px;
	height: 80px;
	border: solid 3px rgba(0,0,0,0);
	background: none;
	margin: 0;
	border-radius: 100%;
	text-align: center;
	z-index: 25;
	position: absolute;
}

.triads_sephira p {
	position:absolute;
}

.level {
	font-size: 30px;
	color: rgba(33,33,33,0.5);
}

#nefesh {
	margin-left:-115px;
}

#ruach {
	margin-left: -5px;
	top: -70px;
}

#neshama{
	margin-left: -25px;
	margin-top: -30px;
}

#yehida{
	margin-left: -5px;
	margin-top: 75px;
}

/* Layers - Sephiroth ================= */

.insence {
	margin-top: 30px;
	font-size: 12px;
}

#geburah .insence {
	margin-top: 20px;
}

#tiphareth .insence {
	margin-top: 25px;
}

#binah .english {
	margin-top: 20px;
}

.number {
	line-height: 1;
	font-size: 0.8em;
	position:	absolute;
	left: 37px;
	margin-top: 2px;
	color: 222#;
	text-align: center;
}

.hebrew {
	margin-top: 17px;
	line-height: 1.5;
	left: 0px;
	text-align:center;
}

.english {
	margin-top: 30px;
}

.planets {
	line-height: 1.5;
	margin-top: 15px;
}

/* Layers - Pillars ================= */

#pillarlayers{
	position: inherit;	
}

.pillars_bj {
	width: 95px;
	height: 695px;
	top: 80px;
	color: #666;
	text-align: center;
}

.pillars_bj p{	
	bottom: 0px;
	position: absolute;
	width: 100%;
}

#boaz {
	background-color: #333;
	position: absolute;
	left: 15px;
}

#jachin {
    background-color: #ddd;
    position: absolute;
    left: 265px;
}

#pillar_mercy  h1, #pillar_severity  h1 {
	margin: 0;
	padding: 0;
	left: 57px;
	position: absolute;
}

#pillar_severity  h1 {
	left: 285px;
}

#pillar_positive{
	/* background-color: red; */
	border: solid 1px rgba(255,0,0,0.5);
	display:none;
	position: absolute;
}

#pillar_mildness {
}

#pillar_positive{
		border: solid 1px rgba(0,0,255,0.5);
		display:none;
		position:absolute;
}